* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* global */
.min-h-full {
  min-height: calc(100vh - 70px); /*fallback of dvh*/
  min-height: calc(100dvh - 70px);
}

.text-gray {
  color: #ddd;
}

/* header */
header {
  border-bottom: 2px solid #f0f0f0;
  height: 70px;
}

/* login */
.login_main {
  width: 100vw; /*fallback of dvw*/
  width: 100dvw;
  height: calc(100vh - 70px); /*fallback of dvh*/
  height: calc(100dvh - 70px);
}

.announcement_main {
  padding-bottom: 6rem !important;
}

/* announcement card */
.announcement_card {
  border: 2px solid #f0f0f0;
}

.announcement_card + .announcement_card {
  margin-top: 1.5rem;
}

.categories li {
  background: antiquewhite;
  color: chocolate;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  text-transform: uppercase;
}
.categories li + li {
  margin-left: 10px;
}

.comment_card {
  background: #f4ece9c7;
  border-radius: 4px;
  padding: 10px;
}

.sidebar_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  top: auto;
  left: 0;
  padding: 10px;
}

.form-main {
  width: 100%;
}
@media (min-width: 992px) {
  .form-main {
    width: 50%;
  }
  .sidebar_main {
    position: sticky;
    top: 0;
    z-index: 1020;
    top: 100px;
  }
  .announcement_main {
    background-image: url(assets/bg-tree.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-size: 250px;
    padding-bottom: 1.5rem !important;
  }
}
